.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//html { 
//    background: url("http://www.fws.gov/eufaula/images/January.JPG");
//    width: 100%;
//    background-size: cover;
//    height: 50px;
//}

body {
    background: url("http://www.fws.gov/eufaula/images/January.JPG") no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
}


//.blackground-nav {
//    background-color: rgba(0,0,0,0.5);
//    
    .home-navigation {
      padding: 1em;  
    }
    #navigation-list {
        padding: 0;
        text-align: center;
    }
    li {
        list-style: none;
        display: inline-block;
        padding: 0 .6em;
        color: #eee;
    }
//}



// injector
// endinjector
