.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//html { 
//    background: url("http://www.fws.gov/eufaula/images/January.JPG");
//    width: 100%;
//    background-size: cover;
//    height: 50px;
//}

$white: #eee; 

body {
    background: url("http://www.fws.gov/eufaula/images/January.JPG") no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
}

  
.home-navigation {
    background-color: rgba(0,0,0,.3);
    padding: 1em 0;  
}
#navigation-list {
    padding: 1em 0 0;
    width: 100%;
    
    .nav-wrap {
        display: inline-block;
        padding: 5px 0;
        width: 23.5vw;
        
        
        span {
            color: $white;
            font-size: 2em;
            display: block;
            text-align: center;
        }
    }
    
    li {
        font-size: 1.4em;
        list-style: none;
        display: inline-block;
        padding: 0 .2em;
        color: $white;
    }
    .slash {
        
    }
}


.slash {
    color: $white;
}

//BEGIN MAIN.HTML

h1 {
    font-size: 3em;
    font-weight: 200;
    color: $white;
    text-align: center;
    margin-top: 3em;
}

#title-caption {
    color: $white;
    text-align: center;
    font-size: .9em;
    font-weight: 200;
    letter-spacing: .1em;
}

// injector
// endinjector
