.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



$white: #eee;
$hover-color: cornflowerblue;

$tablet: "(min-width: 768px) and (max-width: 992px)";
$desktop: "(min-width: 992px)";


    

body {
    background: url("../assets/images/Ducks-Nicaragua-Perfect.jpg") no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    height: 100vh;
}

a:hover, a:focus {
    text-decoration: none;
}  

.home-navigation {
    background-color: rgba(0,0,0,.3);
    padding: 1em 0;  
}
#navigation-list {
    padding: 1em 0 0;
    width: 100%;
    
    .nav-wrap {
        display: inline-block;
        padding: 5px 0;
        width: 23.5vw;
        text-align: center;
        
        
        span {
            color: $white;
            font-size: 2em;
            display: block;
            text-align: center;
            &:hover {
                color: $hover-color;    
            }
        }
        
        li {
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            font-size: 1.4em;
            list-style: none;
            display: inline-block;
            padding: 0 .2em;
            color: $white;
            &:hover {
                color: $hover-color;
            }
            
        }
        
    }
    
    
}


.slash {
    color: $white;
}

//BEGIN MAIN.HTML

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    font-weight: 200;
    color: $white;
    text-align: center;
    margin-top: 3em;
   // text-shadow: -3px 3px 5px black;
    
    @media #{$tablet} {
        font-size: 5em;
    }
    @media #{$desktop} {
        font-size: 7em;
        margin-top: 25vh;
    }
}

#title-caption {
    font-family: 'Raleway', serif;
    color: $white;
    text-align: center;
    font-size: .9em;
    font-weight: 200;
    letter-spacing: .1em;
    
    @media #{$tablet} {
        font-size: 1em;
    }
    @media #{$desktop} {
        font-size: 1.5em;
    }
}

.about {
    font-family: 'Raleway', sans-serif;
    color: $white;
    text-align: center;
    margin: 2em;
}

.home-text {
    color: $white;
}

// BEGIN WEATHER.HTML

.local-forecast {
    color: $white;
    font-size: 4em;
    font-family: 'Raleway';
    text-shadow: -2px 2px 5px gray;
}

.forecast-summary {
    color: $white;
    font-size: 1.1em;
    font-family: 'Merriweather';
    text-shadow: -2px 2px 5px gray;
}


.weather-box {
    background-color: rgba(0,0,0,.5);    
    border-radius: 1em;
    height: 39em;
    box-shadow: -3px 3px 15px #222;
    font-size: 1.1em;
    
    .weather-content {
        color: $white;
        padding-top: 2em;
        font-family: 'Merriweather';
        font-weight: 300;
        
        .dayOfWeek {
            text-align: center;
            font-size: 2.2em;
            font-weight: 300;
        }
        
        .date {
            text-align: center;
            font-size: 1.3em;
        }
        
        .icon-wrap {
            text-align: center;
        }
        
        .day-summary {
            text-align: center;
            font-size: 1.5em;
            font-weight: 300;
        }
        
        .day-rain {
            
        }
        
        span {
            font-size: 2em;
            text-align: right;
        }
        
        .span-wrap {
            text-align: right;
        }
    }
}

//MAP.HTML

.angular-google-map-container {
    
    height: 80vh;
    width: 100%;
    opacity: .9;
    margin: 0 auto;
}

.map-head {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
   
    .map-welcome {
        color: $white;
        font-size: 4em;
        font-family: 'Raleway';
        text-shadow: -2px 2px 5px gray;
    }

    .map-explain {
        color: $white;
        font-size: 1.1em;
        font-family: 'Merriweather';
        text-shadow: -2px 2px 5px gray;
    }
}

// injector
// endinjector
